<h1>Contact Us</h1>
<h5>If you have any questions or concerns, please feel free to voice them in the contact form below.</h5>
<br>
<% if notice %>
  <%= flash[:notice] %>
<% end %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div>
  <div class="form-group">
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
  </div>
  <br>
</div>
<%= form.submit "Send", class: "btn btn-outline-success my-2 my-sm-2" %>
<% end %>
