<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <br>
    <%= form.text_field :first_name, id: :user_first_name, class: "form-control", placeholder: "First Name" %>
  </div>

  <div class="field form-group">
    <br>
    <%= form.text_field :last_name, id: :user_last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-outline-success my-2 my-sm-2" %>
  </div>
<% end %>
