<p id="notice"><%= notice %></p>

<h1>Products</h1>



    <% @products.each do |product| %>
    <div class="col-sm-2 col-ms-4 products">
      <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
      <h1><%= link_to product.name, product  %></h1>
      <p><%= product.description %></p>
      <p>Colour: <%= product.colour %></p>
      <strong><p class="price">Add to Cart: <%= product.price %></p></strong>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>


<br>

<%= link_to 'New Product', new_product_path %>
