<h1>
  <strong><%= @product.name %></strong>
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
</h1>
<div class="product-view">

  <div class="img-view">
    <figure class="figure">
      <%= if (@product.image_url != nil)
        image_tag(@product.image_url, class: "figure-img img-fluid rounded img-zoom", data_zoom_images: @product.image_url)
      end %>
    </figure>
  </div>
  <h3>
    <%= @product.description %>
  </h3>
  <br>
  <div>
    <br>
    <h3>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </h3>
    <br>
    <h2>
      <strong>Add to Cart</strong>
      $<%= @product.price %>.00
    </h3>
    <br>
  </div>
  <% if signed_in? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  <% end %>
</div>
<br>
<hr>
<h3>
  <strong>Ratings:</strong>
</h3>
  <%= render 'new_comment' %>
  <%= render 'comments' %>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <%= will_paginate @comments, :container => false %>
  </div>
