<!DOCTYPE html>
<html>
<head>
  <title>Stem and Seed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/simple_pages/index">Stem and Seed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Featured Products', simple_pages_landing_page_path, class: "dropdown-item") %>
            <a class="dropdown-item" href="#">Newest</a>
            <div class="dropdown-divider"></div>
            <%= link_to('All Products', products_path, class: "dropdown-item") %>
          </div>
          <li class="nav-item">
            <%= link_to('Checkout', orders_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('About', simple_pages_about_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('Contact Us', simple_pages_contact_path, class: "nav-link") %>
          </li>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
        <%= form.text_field :q, id: 'q', value: params[:q], :placeholder => 'Enter search here...', :class => 'form-control mr-sm-2' %>
        <%= form.submit 'Search', :class => 'btn btn-outline-success my-2 my-sm-0', :type => 'submit' %>
        <% end %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <ul class="nav pull-right nav-link">
              <li>
                <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                <% else %>
                <%= link_to('Login', new_user_session_path) %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-wrap" align="center">

    <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show" role="alert">
      <h3><%= notice %></h3>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h3><%= alert %></h3>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <%= yield %>
  </div>
  <footer class="site-footer">
    &copy; Matt Primpas
  </footer>
</body>
</html>
